<h2>Add new task <small>for "$category.getName()"</small></h2>

<form action="/tasks" method="post">

  <div class="form-group">
    <label for="description">Task description:</label>
    <input type="text" name="description" id="description" class="form-control" required>
  </div>

  <div class="form-action">
    <input type="hidden" name="category_id" value="$category.getId()">
    <button type="submit" class="btn btn-success">Add task</button>
  </div>

</form>
