<h1>Sucess!</h1>

<p>Your category has been saved!</p>

<p>
  <a href="/categories" class="btn btn-outline-primary">View categories</a>
  <a href="/categories/new" class="btn btn-outline-primary">Add new category</a>
</p>
