<h2>Welcome to the <strong>To-do List</strong> application</h2>

<p>
  <a href="/categories" class="btn btn-outline-primary">View category list</a>
  <a href="/categories/new" class="btn btn-outline-primary">Add new category</a>
</p>
