<h2>Add new task</h2>

<form action="/tasks" method="post">

  <div class="form-group">
    <label for="description">Task description:</label>
    <input type="text" name="description" id="description" class="form-control" required>
  </div>

  <div class="form-action">
    <button type="submit" class="btn btn-outline-primary">Add task</button>
  </div>

</form>
