<h2>$task.getDescription()</h2>

<h3>Completed: $task.isCompleted()</h3>

<p>
  <a href="/tasks" class="btn btn-primary">View all tasks</a>
  <a href="/tasks/new" class="btn btn-primary">Add new task</a>
</p>
